<section class="main-welcome">
  <h1 class="md-display-4">Hello, World</h1>

  <p class="md-headline">Currently at alpha stage.</p>
</section>
<section class="main-projects">
  <h2 class="md-display-2">Projects</h2>
  <div class="project-cards">
    <div class="grid-25" ng-repeat="repository in vm.repositoryList">
      <div class="card">
        <div class="card-title">
          <h1 class="md-title" style="margin-bottom:8px" ng-bind="repository.name"></h1>
          <p class="md-body-2" ng-bind="repository.description"></p>
        </div>
        <div class="card-list" ng-repeat="post in repository.posts">
          <a ng-href="{{ post.guid }}" target="_blank">
            <img ng-src="{{ post.featured_image }}" width="100%" height="100%"/>
            <div class="text">
              <h2 class="md-subhead" ng-bind="post.title"></h2>
              <p class="md-caption" ng-bind-html="(post.excerpt | limitTo: 60) + '...' "></p>
            </div>
            <div class="tag-set">
              <div class="md-caption tag" style="background-color: red" ng-repeat="(key, value) in post.tags">{{ key }}</div>
            </div>
          </a>
        </div>
        <div class="card-list-blank" ng-if="repository.postLength < 3" ng-style="repository.blankListStyle">
          <div class="text">
            <h2 class="md-subhead">There Are No More Recent Posts</h2>
          </div>
        </div>
        <div class="card-action-bar">
          <button class="button-icon" title="Click to see related posts">
            <a ng-href="{{ repository.wordPressUrl }}" target="_blank">
              <i class="mdi mdi-wordpress"></i>
            </a>
          </button>
          <button class="button-icon">
            <a ng-href="{{ repository.html_url }}" target="_blank">
              <i class="mdi mdi-github-circle"></i>
            </a>
          </button>
          <button class="button-icon">
            <a ng-href="{{ repository.ghPageUrl }}" target="_blank">
              <i class="mdi mdi-play-circle"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
<footer>
  <div class="footer-icon-set">
    <button class="button-icon">
      <a href="https://github.com/yclee0210" target="_blank">
        <i class="mdi mdi-github-circle"></i>
      </a>
    </button>
    <button class="button-icon">
      <a href="https://medium.com/@yclee0210/" target="_blank">
        <i class="mdi mdi-medium"></i>
      </a>
    </button>
    <button class="button-icon" disabled>
      <i class="mdi mdi-linkedin"></i>
    </button>
  </div>
  <div class="footer-copyright">
    Copyright 2016. Clemence Yun Chan Lee. All Rights Reserved.
  </div>
</footer>
