<div style="padding:96px;display: flex;flex-direction:row;background-color:rgba(0,0,0,.02)">
  <div class="card">
    <div class="card-title">
      <h1 class="md-title" style="margin-bottom:8px">Angular-Scaffolding</h1>
      <p class="md-body-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, ...</p>
    </div>
    <div class="card-list">
      <img src="http://lorempixel.com/400/199" width="100%" height="100%"/>
      <div></div>
      <div style="padding:8px; position:absolute;bottom:0;right:0;">
        <h2 class="md-subhead" style="color:white;text-align:right;">Sed ut perspiciatis unde omnis</h2>
        <p class="md-caption" style="color:white;text-align:right;">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
      </div>
    </div>
    <div style="width:100%; border:0; height:96px;position:relative;">
      <div style="padding:8px; position:absolute;bottom:0;right:0;">
        <h2 class="md-subhead" style="text-align:right;">Sed ut perspiciatis unde omnis</h2>
        <p class="md-caption" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
      </div>
    </div>
    <div class="card-list">
      <img src="http://lorempixel.com/400/202" width="100%" height="100%" />
      <div class="text">
        <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
        <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
      </div>
      <div class="tag-set">
        <div class="md-caption tag" style="background:grey;">AngularJS</div>
        <div class="md-caption tag" style="background:red;">Unit Test</div>
      </div>
    </div>
    <div class="card-action-bar">
      <button class="button-icon" title="Click to see related posts">
        <a href="https://medium.com/@yclee0210/" target="_blank">
          <i class="mdi mdi-medium"></i>
        </a>
      </button>
      <button class="button-icon">
        <a href="https://medium.com/@yclee0210/" target="_blank">
          <i class="mdi mdi-github-circle"></i>
        </a>
      </button>
      <button class="button-icon">
        <a href="https://medium.com/@yclee0210/" target="_blank">
          <i class="mdi mdi-play-circle"></i>
        </a>
      </button>
    </div>
  </div>
</div>
