<header class="header">
  <div class="profile">Yunchan Clemence Lee</div>
  <img src="../assets/images/IMG_6369.jpg" alt="" class="profile">
</header>
<div class="container">
  <aside class="side">
    <div class="card">
      <div class="card-header box-primary">
        <h1 class="text-heading" style="line-height: 2rem;">Header</h1></div>
      <div class="card-content">content</div>
    </div>
  </aside>
  <main>
    <div class="card">
      <div class="card-header box-tertiary">
        <h1 class="text-heading" style="line-height: 2rem;">Header</h1></div>
      <div class="card-content">content</div>
    </div>
  </main>
  <aside>

  </aside>
</div>


