<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="container">
    <ul>
      <li><a class="text-accent" href="#section-home">Home</a></li>
      <li><a href="#section-projects ">Projects</a></li>
      <li><a href="#section-blog">Latest Posts</a></li>
      <li><a href="#section-profile">About Me</a></li>
      <li><a href="#section-contacts">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <section id="section-home" class="main-banner">
    <h1>Yunchan Clemence Lee</h1>
    <p>I am currently <span class="text-primary">taking a break</span> in <span class="text-accent">Seoul, Korea</span>.</p>
  </section>
  <section id="section-blog" class="background-primary">
    <article class="container">
      <h2>Latest Posts</h2>
      <div class="latest-blog-posts">
        <article class="blog-snippet">
          <a href="www.google.com" target="_blank"></a>
          <img src="assets/images/IMG_6448.jpg" alt="">
          <div class="blog-meta">
            <h4>Category</h4>
            <h3>Title Text Goes Here</h3>
            <p>2017.07.31 23:30</p>
          </div>
        </article>
        <article class="blog-snippet">
        <a href="www.google.com" target="_blank"></a>
          <img src="assets/images/IMG_6616.jpg" alt="">
          <div class="blog-meta">
            <h4>Category</h4>
            <h3>Title Text Goes Here</h3>
            <p>2017.07.31 23:30</p>
          </div>
        </article>
        <article class="blog-snippet">
        <a href="www.google.com" target="_blank"></a>
          <img src="assets/images/IMG_6816.jpg" alt="">
          <div class="blog-meta">
            <h4>Category</h4>
            <h3>Title Text Goes Here</h3>
            <p>2017.07.31 23:30</p>
          </div>
        </article>
      </div>
    </article>

  </section>
  <section id="section-profile">
    <article class="container">
      <h2>About Me</h2>
      <article class="profile">
        <img class="about-me-photo" src="assets/images/IMG_7054.jpg" alt="Yun Chan Clemence Lee">
        <div class="about-me-text">
          <h2>A Front-end Engineer</h2>
          <p>Auris eget vestibulum augue. Integer sit amet tellus libero.Nam ac enim ut velit dictum congue. Integer vitae
            elit in risus laoreet porttitor non nec enim. Donec nec sapien odio. Nullam dictum, elit maximus vulputate
            venenatis, neque velit tincidunt mauris, ac facilisis ligula mi et neque. Vivamus ut felis sem. In eget diam
            lorem. Aliquam tincidunt. Aliquam venenatis non orci egestas cursus. Phasellus venenatis blandit odio, in
            tincidunt ex trist.Integer sit amet tellus libero.Nam ac enim ut velit dictum congue. Integer vitae elit in
            risus laoreet porttitor non nec enim.</p>
          <button class="button-shell"><a href="">Download Resume</a></button>
        </div>
      </article>
    </article>
  </section>
</main>
<aside>

</aside>
<footer>
  <section class="container">
    <article class="contact-snippet">
      <h3>Email</h3>
      <p>yunchan.c.lee@gmail.com</p>
    </article>
  </section>
  <nav class="footer">
    <ul>
      <li><a>Github</a></li>
      <li><a>Linkedin</a></li>
      <li><a>Blog</a></li>
      <li><a>Instagram</a></li>
    </ul>
  </nav>
</footer>


