<section class="main-welcome">
  <h1 class="md-display-4">Hello, World</h1>

  <p class="md-headline">Currently at alpha stage.</p>
</section>
<section class="main-projects">
  <h2 class="md-display-2">Projects</h2>
  <div class="project-cards">
    <div class="grid-25">
      <div class="card">
        <div class="card-title">
          <h1 class="md-title" style="margin-bottom:8px">Angular-Scaffolding</h1>
          <p class="md-body-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            ...</p>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-action-bar">
          <button class="button-icon" title="Click to see related posts">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-medium"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-github-circle"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-play-circle"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-25">
      <div class="card">
        <div class="card-title">
          <h1 class="md-title" style="margin-bottom:8px">Angular-Scaffolding</h1>
          <p class="md-body-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            ...</p>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-action-bar">
          <button class="button-icon" title="Click to see related posts">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-medium"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-github-circle"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-play-circle"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-25">
      <div class="card">
        <div class="card-title">
          <h1 class="md-title" style="margin-bottom:8px">Angular-Scaffolding</h1>
          <p class="md-body-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            ...</p>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-action-bar">
          <button class="button-icon" title="Click to see related posts">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-medium"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-github-circle"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-play-circle"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-25">
      <div class="card">
        <div class="card-title">
          <h1 class="md-title" style="margin-bottom:8px">Angular-Scaffolding</h1>
          <p class="md-body-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            ...</p>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-list">
          <img src="http://lorempixel.com/400/202" width="100%" height="100%"/>
          <div class="text">
            <h2 class="md-subhead">Sed ut perspiciatis unde omnis</h2>
            <p class="md-caption">Lorem ipsum dolor sit amet, consectetur adipisc...</p>
          </div>
          <div class="tag-set">
            <div class="md-caption tag" style="background:grey;">AngularJS</div>
            <div class="md-caption tag" style="background:red;">Unit Test</div>
          </div>
        </div>
        <div class="card-action-bar">
          <button class="button-icon" title="Click to see related posts">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-medium"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-github-circle"></i>
            </a>
          </button>
          <button class="button-icon">
            <a href="https://medium.com/@yclee0210/" target="_blank">
              <i class="mdi mdi-play-circle"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
<footer>
  <div class="footer-icon-set">
    <button class="button-icon">
      <a href="https://github.com/yclee0210" target="_blank">
        <i class="mdi mdi-github-circle"></i>
      </a>
    </button>
    <button class="button-icon">
      <a href="https://medium.com/@yclee0210/" target="_blank">
        <i class="mdi mdi-medium"></i>
      </a>
    </button>
    <button class="button-icon" disabled>
      <i class="mdi mdi-linkedin"></i>
    </button>
  </div>
  <div class="footer-copyright">
    Copyright 2016. Clemence Yun Chan Lee. All Rights Reserved.
  </div>
</footer>
