<section id="landing-page" class="landing-page">
  <h1 class="md-display-4">Hello, World</h1>

  <p class="md-headline">Currently at alpha stage.</p>
</section>
<footer>
  <div class="footer-icon-set">
    <button class="button-icon">
      <a href="https://github.com/yclee0210" target="_blank">
        <i class="mdi mdi-github-circle"></i>
      </a>
    </button>
    <button class="button-icon">
      <a href="https://medium.com/@yclee0210/" target="_blank">
        <i class="mdi mdi-medium"></i>
      </a>
    </button>
    <button class="button-icon" disabled>
      <i class="mdi mdi-linkedin"></i>
    </button>
  </div>
  <div>
    Copyright 2016. Clemence Yun Chan Lee. All Rights Reserved.
  </div>
</footer>
