<section id="landing-page" class="landing-page">
  <h1 class="md-display-4">Hello, World</h1>

  <p class="md-headline">Currently at alpha stage.</p>
</section>
<footer>
  <div class="button-set-icon">
    <button>
      <a href="https://github.com/yclee0210" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </button>
    <button>
      <a href="https://medium.com/@yclee0210/" target="_blank">
        <i class="fa fa-medium fa-2x"></i>
      </a>
    </button>
    <button disabled>
      <i class="fa fa-linkedin fa-2x"></i>
    </button>
  </div>
  <div>
    Copyright 2016. Clemence Yun Chan Lee. All Rights Reserved.
  </div>
</footer>
