/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 54, ../../source/global/_font.scss */
html, body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 67, ../../source/global/_font.scss */
ul, ol, p, h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

/************
 * Headings
 ************/
/* line 74, ../../source/global/_font.scss */
.md-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -0.010em;
  line-height: 112px;
}

/* line 80, ../../source/global/_font.scss */
.md-display-3 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 56px;
}

/* line 86, ../../source/global/_font.scss */
.md-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
}

/* line 91, ../../source/global/_font.scss */
.md-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

/* line 96, ../../source/global/_font.scss */
.md-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

/* line 101, ../../source/global/_font.scss */
.md-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}

/* line 104, ../../source/global/_font.scss */
.md-subhead, button {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px;
}

/************
 * Body Copy
 ************/
/* line 110, ../../source/global/_font.scss */
.md-body-1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 20px;
}

/* line 113, ../../source/global/_font.scss */
.md-body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 24px;
}

/* line 116, ../../source/global/_font.scss */
.md-caption {
  font-size: 12px;
  letter-spacing: 0.020em;
}

/* line 120, ../../source/global/_font.scss */
.md-button {
  letter-spacing: 0.010em;
}

/************
 * Defaults
 ************/
/* line 128, ../../source/global/_font.scss */
button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 136, ../../source/global/_font.scss */
select,
button,
textarea,
input {
  font-size: 100%;
}

/* line 1, ../../source/global/_base.scss */
* {
  box-sizing: border-box;
}

/* Layout Constants */
/* Screen Width */
/* Mask */
/* Shadows */
/* Common Layout related modules */
/* Application-wide button style */
/* line 41, ../../source/global/_base.scss */
button {
  background-color: white;
  border: 0px;
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
}

/* line 48, ../../source/global/_base.scss */
button:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 51, ../../source/global/_base.scss */
button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Image default fit */
/* line 56, ../../source/global/_base.scss */
img {
  object-fit: cover;
}

/* line 5, ../../source/views/landing/_landing.scss */
.landing-page {
  background-image: url("");
  text-align: center;
  padding-top: 384px;
}
@media (max-width: 1280px) {
  /* line 5, ../../source/views/landing/_landing.scss */
  .landing-page {
    padding-top: 288px;
  }
}
@media (min-width: 1920px) {
  /* line 5, ../../source/views/landing/_landing.scss */
  .landing-page {
    padding-top: 576px;
  }
}
/* line 16, ../../source/views/landing/_landing.scss */
.landing-page h1:first-child {
  margin-bottom: 56px;
}
/* line 19, ../../source/views/landing/_landing.scss */
.landing-page + footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: transparent;
}
/* line 26, ../../source/views/landing/_landing.scss */
.landing-page + footer .footer-icon-set {
  text-align: center;
  width: 100%;
  position: relative;
  top: 15%;
}
/* line 31, ../../source/views/landing/_landing.scss */
.landing-page + footer .footer-icon-set .button-icon {
  margin-left: 4px;
  margin-right: 4px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
}
/* line 36, ../../source/views/landing/_landing.scss */
.landing-page + footer .footer-icon-set .button-icon i {
  color: rgba(0, 0, 0, 0.6);
}
/* line 43, ../../source/views/landing/_landing.scss */
.landing-page + footer div:last-child {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  text-align: center;
}

/* line 13, ../../source/global/widgets/card-list/_card-list.scss */
.card {
  width: 320px;
  height: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  background-color: white;
  transition: 0.1s;
}
/* line 20, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-title {
  width: 100%;
  height: 96px;
  padding: 8px;
  margin-bottom: 8px;
}
/* line 26, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list {
  width: 100%;
  height: 96px;
  position: relative;
  color: white;
}
/* line 31, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list div {
  position: absolute;
  padding: 8px;
}
/* line 36, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list .tag-set {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}
/* line 40, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list .tag-set .tag {
  margin-right: 8px;
  padding: 2px;
  position: relative;
  border-radius: 4px;
}
/* line 48, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list .text {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
/* line 58, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list .text h2, .card .card-list .text p, .card .card-list .text span {
  text-align: right;
}
/* line 63, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-list .text:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 68, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-action-bar {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 320px;
}
/* line 74, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-action-bar .button-icon {
  margin-left: 4px;
  margin-right: 4px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
}
/* line 79, ../../source/global/widgets/card-list/_card-list.scss */
.card .card-action-bar .button-icon i {
  color: rgba(0, 0, 0, 0.6);
}

/* line 88, ../../source/global/widgets/card-list/_card-list.scss */
.card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

/* line 12, ../../source/screen.scss */
body {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
}

/* line 18, ../../source/screen.scss */
.monospace {
  font-family: Monaco, monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}

/* line 25, ../../source/screen.scss */
.superscript {
  top: -0.5em;
}

/* line 26, ../../source/screen.scss */
.subscript {
  bottom: -0.25em;
}

/* line 28, ../../source/screen.scss */
.block-margins {
  margin: 0.5rem 0 1rem;
}

/* line 32, ../../source/screen.scss */
.blockquote {
  border-left: 3px solid silver;
  color: DeepPink;
  padding-left: 1.5rem;
  font-style: italic;
}

/* line 39, ../../source/screen.scss */
.large-blockquote {
  font-size: 1.3em;
  line-height: 1.4;
  margin: 2rem 0;
}

/* line 45, ../../source/screen.scss */
a {
  color: black;
}
