/* color */
$primary: #89bdd3;
$accent: #fae596;
$tertiary: #b56969;
$dark: #3b3a36;
$light: #ffffff;
$background: rgba(#89bdd3, .1);

$text-normal: $dark;
$text-invert: $light;

$primary-dark: #374957;
$accent-dark: #877744;
$tertiary-dark: #543131;
