/* Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  color: $text-normal;
}

.text-heading {
  font-size: 1.5rem;
}

.text-body {
  font-size: 1rem;
}

.text-caption {
  font-size: 0.75rem;
}
