/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common */
* {
  box-sizing: border-box;
  //outline: 0.5px solid ghostwhite;
}
/* Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 5rem;
}

/* responsive */
.container {
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 992px) {
    width: 992px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
  @media (min-width: 1920px) {
    width: 1600px;
  }



}

/* color */
//$primary: #003366;
//$accent: #336633;
$text-accent: #000000;
$text-normal: #3b3a36;
$text-invert: #ffffff;
$primary: #89bdd3;
$primary-dark: #374957;
$accent: #fae596;
$accent-dark: #877744;
$tertiary: #b56969;
$tertiary-dark: #543131;
$dark: #3b3a36;

$top-layer: 1000;

div.sample {
  div {
    height: 60px;
  }
}
.background-primary {
  background-color: #63849b;
}
.background-accent {
  background-color: $accent;
}
.background-tertiary {
  background-color: $tertiary;
}
.background-dark {
  background-color: $dark;
}
/* components */
main > section {
  padding: 5rem 0;
  > article > h2, > h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1rem;
  }
  &.main-banner {
    text-align: center;
    color: $text-invert;
    background-image: linear-gradient(rgba(#374957,.5), rgba(#374957,.5)), url(assets/images/IMG_6369.jpg);
    background-size: cover;
    background-position: center center;
    height: 50rem;
    padding: 22rem 0;
    p {
      font-size: 1.5rem;
    }
  }
}

header {
  background: rgba($dark, 0.7);
  color: white;
  display: block;
  padding: 1rem;
  position: absolute;
  top: 46rem;
  width: 100%;
  z-index: $top-layer;

  li {
    float: left;
    height: 2rem;
    margin: 0 0.5rem;
  }
  a {
    padding: 0.5rem;
    line-height: 2rem;
    color: $text-invert;
    transition: color 0.5s;
  }

  a:hover {
    color: $accent;
  }
}

div.latest-blog-posts {
  padding-top: 3rem;
  font-size: 0;
}
article.blog-snippet {
  display: inline-block;
  font-size: 0;
  position: relative;
  margin: 0 1rem;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;
  -moz-transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;
  -ms-transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;
  -o-transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;
  transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;
  &:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 768px) {
    width: 388px;
  }
  @media (min-width: 992px) {
    width: 496px;
  }
  @media (min-width: 1200px) {
    width: 368px;
  }
  @media (min-width: 1920px) {
    width: 368px;
  }

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
  div.blog-meta {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba($dark, .7);
    padding: 1rem;


    h3 {
      color: $text-invert;
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
    h4 {
      color: $accent;
      font-size: 0.7rem;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }

    p {
      color: $primary;
      font-size: 0.7rem;
    }
  }
}

article.profile {
  padding-top: 3rem;
  margin: 1rem;
  font-size: 0;
  height: 284px;

  img.about-me-photo {
    width: 568px;
    height: 284px;
    display: inline-block;
    object-fit: cover;
    margin-right: 1rem;
    float: left;
  }

  div.about-me-text {
    display: inline-block;
    width: 563px;
    float: left;
    margin-left: 1rem;
    font-size: 1rem;

    h2 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      color: $primary;
    }

    p {
      line-height: 1.5rem;
      padding-bottom: 1rem;
      color: #3b3a36;
    }
  }
}

a {
  color: $text-normal;
  text-decoration: none;
}

button {
  border-radius: 0;
  font-size: 1rem;
}

button.button-shell {
  background: white;
  border: 1px solid $tertiary;
  padding: 0.5rem;

  a {
    color: $tertiary;
  }
}

footer {
  background: $dark;
  height: 30rem;
  padding: 4rem 0;

  section {
    color: $text-invert;
  }
}

.text-primary {
  color: $primary;
}

.text-accent {
  color: $accent;
}

.text-tertiary {
  color: $tertiary;
}

article.contact-snippet {
  padding: 1rem;
  h3 {
    color: $primary;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}

ul.project-list {
  padding: 2rem 1rem;

  li {
    width: 50%;
    display: inline-block;

    h3 {
      color: $primary;
    }
  }
}
